* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}

header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    padding: 2rem;
}


a {
    color: #1e6bb8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn + .btn {
    margin-left: 1rem;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;
    }

    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0;
    }
}

.project-name {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem;
    }
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

@media screen and (min-width: 64em) {
    .project-tagline {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 42em) {
    .project-tagline {
        font-size: 1rem;
    }
}

.main-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-content > li {
    overflow: hidden;
    border-radius: 0.3rem;
    background-color: #304D5B;
    border: solid 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.3);
    position: relative;
    width: 286px;
    height: 286px;
    margin: 1rem;
}

.main-content > li.empty {
    text-align: center;
    font-size: 40px;
    color: rgba(0,0,0,0.6);
    line-height: 286px;
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        font-size: 1rem;
    }
}

footer {
    padding: 2rem;
    border-top: solid 1px #eff0f1;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
}

.site-footer-credits {
    color: #819198;
}

@media screen and (min-width: 64em) {
    footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 42em) {
    footer {
        font-size: 0.9rem;
    }
}

@-webkit-keyframes el-rocket-fly {
    0% {
        margin: -104px 0 0 -48px;
        box-shadow: 82px 82px 4px -29px rgba(255, 43, 28, 0.8);
    }
    25% {
        margin: -107px 0 0 -51px;
        box-shadow: 90px 90px 4px -26px rgba(255, 43, 28, 0.8);
    }
    75% {
        margin: -101px 0 0 -45px;
        box-shadow: 76px 76px 4px -30px rgba(255, 43, 28, 0.8);
    }
    100% {
        margin: -104px 0 0 -48px;
        box-shadow: 82px 82px 4px -29px rgba(255, 43, 28, 0.8);
    }
}

@keyframes el-rocket-fly {
    0% {
        margin: -104px 0 0 -48px;
        box-shadow: 82px 82px 4px -29px rgba(255, 43, 28, 0.8);
    }
    25% {
        margin: -107px 0 0 -51px;
        box-shadow: 90px 90px 4px -26px rgba(255, 43, 28, 0.8);
    }
    75% {
        margin: -101px 0 0 -45px;
        box-shadow: 76px 76px 4px -30px rgba(255, 43, 28, 0.8);
    }
    100% {
        margin: -104px 0 0 -48px;
        box-shadow: 82px 82px 4px -29px rgba(255, 43, 28, 0.8);
    }
}

@-webkit-keyframes el-rocket-fire {
    0% {box-shadow: inset 6px 0 0 2px #7DABC3,0 144px 9px -13px rgba(254, 255, 214, 0.8),0 150px 7px -4px rgba(255, 169, 103, 0.9);}
    25% {box-shadow: inset 6px 0 0 2px #7DABC3,0 144px 5px -10px rgba(254, 255, 214, 0.8),0 150px 9px -1px rgba(255, 169, 103, 0.9);}
    100% {box-shadow: inset 6px 0 0 2px #7DABC3,0 144px 9px -13px rgba(254, 255, 214, 0.8),0 150px 7px -4px rgba(255, 169, 103, 0.9);}
}

@keyframes el-rocket-fire {
    0% {box-shadow: inset 6px 0 0 2px #7DABC3,0 144px 9px -13px rgba(254, 255, 214, 0.8),0 150px 7px -4px rgba(255, 169, 103, 0.9);}
    25% {box-shadow: inset 6px 0 0 2px #7DABC3,0 144px 5px -10px rgba(254, 255, 214, 0.8),0 150px 9px -1px rgba(255, 169, 103, 0.9);}
    100% {box-shadow: inset 6px 0 0 2px #7DABC3,0 144px 9px -13px rgba(254, 255, 214, 0.8),0 150px 7px -4px rgba(255, 169, 103, 0.9);}
}

.el-rocket {
    -webkit-animation-name: el-rocket-fly;
    animation-name: el-rocket-fly;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    display: block;
    width: 156px;
    height: 156px;
    background-color: #EBEBEB;
    border-radius: 12px 178px 48px 176px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: linear-gradient(45deg, #ebebeb 1%,#ebebeb 49%,#dedede 51%,#dedede 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -104px 0 0 -48px;
    box-shadow: 82px 82px 4px -29px rgba(255, 43, 28, 0.8);
    transition: left 0.3s linear;

}

.el-rocket:before {
    content: 'CCCP';
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border: solid 8px #969698;
    border-radius: 50%;
    background-color: #5B8DA6;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-family: fantasy;
    line-height: 166px;
    font-size: 30px;
    text-indent: -11px;
    color: #D64D43;
    box-shadow: inset 6px 0 0 2px #7DABC3,0 144px 9px -13px rgba(254, 255, 214, 0.8),0 150px 7px -4px rgba(255, 169, 103, 0.9);
    -webkit-animation-name: el-rocket-fire;
    animation-name: el-rocket-fire;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.el-rocket:after {
    content: '';
    display: block;
    position: absolute;
    right: -42px;
    bottom: -28px;
    border: solid 36px #D64D43;
    border-top-width: 32px;
    border-bottom-color: transparent;
    border-top-color: transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 44px;
    height: 20px;
    border-radius: 30px 30px 0 0;
    background-color: #6c6c6c;
    background-clip: padding-box;
}